doctype html
html
head
    script(src="/bootstrap/js/bootstrap.js")
    link(href="/bootstrap/css/bootstrap.css" rel="stylesheet")
    link(href="/bootstrap/css/bootstrap-grid.css" rel="stylesheet")
    link(href="/bootstrap/css/bootstrap-grid.rtl.css" rel="stylesheet")
    link(href="/bootstrap/css/bootstrap-reboot.css" rel="stylesheet")
    link(href="/bootstrap/css/bootstrap-reboot.rtl.css" rel="stylesheet")
    link(href="/bootstrap/css/bootstrap.rtl.css" rel="stylesheet")
    link(href="/bootstrap/css/bootstrap-utilities.css" rel="stylesheet")
    link(href="/bootstrap/css/bootstrap-utilities.rtl.css" rel="stylesheet")
    link(href="/stylesheet.css" rel="stylesheet")

head/
title=title
body
  div(style="position:relative; top:0px; width:100vw; height:35vh; background:none")
  .container-fluid
    .row
      .col
      .col-11
        #services-block
          //- h1 Services
          table.table
            thead 
              tr
                th(scope="col") Service
                th(scope="col") URL
              each service in services
                tr
                  td #{service.service_name}
                  td #{service.url}
        //- ul.list-group
        //-   li.list-group-item Service name 
        //-   li.list-group-item URL
        //-   each service in services
        //-     li.list-group-item #{service}
      .col 